[data-v-2d64bc9a] .custom-tooltip-box{padding:0!important;border:none!important;background-color:transparent!important}[data-v-2d64bc9a] .custom-tooltip-box .tooltip{width:130px}.radar-echart[data-v-2d64bc9a]{width:100%;height:100%}
